@import './variables';
@import './chubb-fonts.scss';
@import './helpers.scss';

.form-group {
    .form-label {
        font-family: "Lato";
        font-size: 12px;
    }

    .form-control {
        font-size: 14px;
        border-radius: 4px;
        background-color: $sky-gray;
    }

    .form-select {
        font-size: 14px;
        height: 42px;
        border-radius: 4px;
        background-color: $sky-gray;
    }

    .input-group {
        input {
            border-radius: 4px;
            &:focus {
                box-shadow: none;
                outline: none;
                border-color: $light-gray;
            }
        }
        .input-group-text {
            border-radius: 4px;
            background-color: $sky-gray;
        }
    }
}